<%- include('navbar'); %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
              <div class="header-left">
                <h3>Katalog</h3>
              </div>
            </div>
            <div class="row">
              <h4>Gedung</h4>
              <%- include('partial/kartuvendor'); %>
            </div>
            <div class="row">
              <h4>Fotografer</h4>
              <%- include('partial/kartuvendor'); %>
            </div>
            <div class="row">
              <h4>udangan digital</h4>
              <%- include('partial/kartuvendor'); %>
            </div>
          </div>
          <!-- content-wrapper ends -->
<%- include('footer'); %>          